*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  height: auto;
  background-color: rgb(16, 51, 39);
  font-family: Yu Mincho;
  color: rgb(255, 255, 255);
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@media screen and (max-width:375px) { 
  html{font-size: 50%}
}

/* ヘッダー部分 */
header{
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

header img{
  float: left;
  padding: 1rem 0 0 2rem;
  transition: 0.5s;
}

.header-logo :hover{
  opacity: 0.6;
}

header i{
  color: rgb(255, 255, 255);
  size: 0.3rem;
}

header a{
  position: relative;
  display: block;
  width: 9rem;
  height: 9rem;
  text-decoration: none;
}

header img a::before{
  content: '';
  font-size: 2.5rem;
  color: #ffffff;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: -4rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

header img a::after{
  content: 'PAGE TOP';
  font-size: 1.3rem;
  color: #fff;
  position: absolute;
  top: 4.8rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* ヘッダー部分終了 */


/* ハンバーガーメニュー部分 */

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 3rem;
  left: 90%;
  z-index: 100;
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #fff;
  transition: .5s;
}

.drawer-list img{
  height: 100vh;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.drawer-logo{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: none;
  object-position: auto;
  padding: 1.5rem 0 0 2rem;
}

.drawer-txtbox{
  width: 20.3rem;
  height: 44.2rem;
  color: rgb(255, 255, 255);
  font-size: 3.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
}

.drawer-item{
  padding-top: 1.5rem;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;
}

/* ハンバーガーメニュー部分終了*/


/* 見出し文字部分 */
.heading-txtbox{
  width: 100%;
  height: 21.4rem;
  position: relative;
  opacity : 0;
	transform : translate(0, 8rem);
	transition : all 1500ms;
  /* background-color: blueviolet; */
}

.heading-txtbox.scrollin{
  opacity : 1;
	transform : translate(0, 0);
}

.heading-txtbox2{
  width: 100%;
  height: 21.4rem;
  position: relative;
  opacity : 0;
	transform : translate(0, 8rem);
	transition : all 1500ms;
  /* background-color: blueviolet; */
}

.heading-txtbox2.scrollin{
  opacity : 1;
	transform : translate(0, 0);
}

h2{
  font-size: 3.7rem;
  font-weight: lighter;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  width: 50%;
  height: 30%;
}
/* 見出し文字部分終了 */



/* コンタクト部分 */
.contact-txt1{
  font-size: 1.6rem;
  padding: 1rem 0 0 0;
  opacity : 0;
	transform : translate(0, 8rem);
	transition : all 1500ms;
}

.contact-txt1.scrollin{
  opacity : 1;
	transform : translate(0, 0);
}


.sns-box{
  width: 50%;
  height: 23rem;
  margin: auto;
  display: flex;
  /* background-color: rgb(255, 174, 174); */
  justify-content: space-around;
  margin-top: 4rem;
  opacity : 0;
	transform : translate(0, 8rem);
	transition : all 1500ms;
}

.sns-box.scrollin{
  opacity : 1;
	transform : translate(0, 0);
}

/* #effect2 > div .sns-box:nth-of-type(2) {
-moz-transition-delay:200ms;
-webkit-transition-delay:200ms;
-o-transition-delay:200ms;
-ms-transition-delay:200ms;
}

#effect2 > div .sns-box:nth-of-type(3) {
  -moz-transition-delay:400ms;
  -webkit-transition-delay:400ms;
  -o-transition-delay:400ms;
  -ms-transition-delay:400ms;
} */

.icon-box1{
  width: 5rem;
  height: 5rem;
  position: relative;
  background-color: rgb(52, 88, 161);
  border-radius: 2.5rem;
  transition: 0.5s;
}

.icon-box1:hover{
  opacity: 0.6;
}

.icon-box2{
  width: 5rem;
  height: 5rem;
  position: relative;
  background-color: rgb(28, 157, 235);
  border-radius: 2.5rem;
  transition: 0.5s;
}

.icon-box2:hover{
  opacity: 0.6;
}

.icon-box3{
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 2.5rem;
  background: #f5ce71; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #f5ce71 0%, #ef6135 30%, #d02f7e 68%, #9835b3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #f5ce71 0%,#ef6135 30%,#d02f7e 68%,#9835b3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #f5ce71 0%,#ef6135 30%,#d02f7e 68%,#9835b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ce71', endColorstr='#9835b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  transition: 0.5s;
}

.icon-box3:hover{
  opacity: 0.6;
}

.fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-txt-box{
  width: 50%;
  height: 7.8rem;
  margin: auto;
}

.contact-txt2{
  font-size: 1.4rem;
}

.contact-txt3{
  font-size: 1.1rem;
}
/* コンタクト部分終了 */


/* メニューバナー部分 */
.menu-title{
  width: 100%;
  height: auto;
}


.menu-title img{
  width: 100%;
  height: auto;
  max-height: 10rem;
  object-fit: cover;
  object-position: 0% 100%;
}

.menu-page-txt{
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 2.4rem;
  font-weight: lighter;
}

.accordion_btn{
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

/* メニュー中身部分 */
.accordion_content {
  width: 100%;
  height: auto;
  display: none;
  /* overflow: hidden; */
}

.menu-box{
  width: 70%;
  height: 45rem;
  margin: 8rem auto 8rem auto;
}

.menu-box img{
  width: 100%;
  height: 22.6rem;
  max-height: 100%;
  object-position: center center;
}

h1{
  text-align: left;
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: lighter;
}

.menu-box p{
  text-align: left;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 2.5rem;
}

h3{
  text-align: right;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-top: 3rem;
}

.accordion_btn:after {
  content: "";
  position: absolute;
  right: 2.5rem;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-top: solid 0.2rem #fff;
  border-right: solid 0.2rem #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion_btn.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}
